//Write your scss here and then compile it to "style.css"...

.box {
    width: 100%;
    height: 100%;
   
input {
    text-align: center;
    color: rgb(33, 204, 10);
    background-color: rgb(65, 22, 5);
}
