//Write your scss here and then compile it to "style.css"...

$font-family:arial, sans-serif;

$primary:#FF550B;
$secondary:#303030;
$success:#015668;
$danger:#FF304F;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#e8e8e8;
$dark:#000000;
$border: orange;
$enable-gradients:true;
$spacer:1.2rem;
$border-width:3px;
$btn-border-radius:.25rem;
$padding:1rem;
$align-text:center;

form {
font-family: $font-family;
color: $dark;
background-color: $warning;
}

